<!DOCTYPE html>
<html>
<head>
  <title>Relais</title>
  <%= stylesheet_link_tag    "relais/application", media: "all" %>
  <%= javascript_include_tag "relais/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
